<!DOCTYPE html>
<html lang="en" ng-app="photoApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DMS Travel</title>
		<link rel="stylesheet" type="text/css" href="style/style.css">
		<link rel="stylesheet" href="assets/css/user.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
		<link href="lightbox2-master/dist/css/lightbox.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/controller.js"></script>
		<script type="text/javascript" src="js/model-facebook.js"></script>
	</head>
	<body>
	<div id="fb-root"></div>
	    <nav class="navbar navbar-default">
	        <div class="container">
	            <div class="navbar-header"><a class="navbar-brand navbar-link" href="https://www.facebook.com/DMS-Travel-815157038515764/?fref=ts" target="_blank"><i class="glyphicon glyphicon-phone"></i>DMS Travel</a>
	                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	            </div>
	            <div class="collapse navbar-collapse" id="navcol-1">
	                <ul class="nav navbar-nav navbar-right">
	                	<li class="menu" role="presentation"><a id="welcome" href="#/"></a></li>
	                	<li class="menu" id="Login" role="presentation" ng-click="go()"><a href="#/album">Login</a></li>
	                    <li class="menu" id="splash" role="presentation"><a href="#/">Splash</a></li>
	                    <li class="menu" style="display:none" id="album" role="presentation"><a href="#/album">Albums</a></li>
	                    <li class="menu" role="presentation"><a href="#">About</a></li>
	                    <li class="menu" id="Logout" role="presentation"><a href="#/">Logout</a></li>
	                    
	                </ul>
	            </div>
	        </div>
	    </nav>
	    <header><h1 class="text-center bg-primary">DMS Travel</h1></header>
		<div id="thumbview" ng-view></div>
		</div>
		<script src="assets/js/jquery.min.js"></script>
    	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="lightbox2-master/dist/js/lightbox.min.js"></script>
	</body>
</html>