/* 
	Style.css for DMS Travel Assignment
	Author: Kevin Kirby
*/
#content {
	margin-top: 0px;
}
#earth {
	margin: auto;
  	width: 500px;
	height: 500px;
	background: url("../images/earth.png");
	border-radius: 50%;
	background-size: 1000px;
	box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0),
		inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
	animation-name: rotate;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.menu a img {
	width: 20px;
	height: 20px;
}
@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 1000px; }
}
#initial {
	background:  white;
}
#back {
	position: absolute;
	top:0px;
	left: -20px;
}
#go .enter:hover {
	color: black;
	background-color: white;
}
#go .enter img {
	transition: background-color 2s, transform 1s; 
	-webkit-transition: background-color 2s, -webkit-transform 1s;
}
.enter img:hover {
	transform: rotate(360deg); 
	-webkit-transform: rotate(360deg);
}
.thumbnail a img {
	height: 320px;
}
#go:hover, #back:hover {
	cursor: pointer;
}
.caption {
	text-align: center;
}
.caption button {
	float: left;
	margin-bottom: 10px;
}
.cover {
	border: 1px solid black;
	border-radius: 5px 5px 5px;
	padding: 10px;
}
.cover img {
	margin-bottom: 10px;
}
.comment {
	clear:both; 
	height:auto; 
	border:1px solid grey;
}
.comment p {
	text-align: left;
	padding: 0px;
}
#thumbview {
	margin-bottom: 30px;
}
#thumbnails {
	margin-bottom: 30px;
}
#loginBtn {
	position: absolute;
	top: 5px;
	right: 10px;
}
.likeCount:hover, .likeCount span:hover {
	cursor: pointer;
}
.modal-dialog {
	width: 150px;
}
.modal-body p {
	text-align: left;
	line-height:30px;
	margin:0px; 
	height:35px; 
	border-top:1px solid lightgrey;
}
#search_box {
	position: relative;
	margin: 0px 0px 10px 0px;
	height: 30px;
	display: block;
	width: 100%;
	padding: 0%;
}
#query {
	width: calc(100% - 80px);
	float: left;
    padding: 5px 10px;
}
#searchBtn {
	margin-left: 10px;
	float: left;
}
/* Page transition animations */
.ng-enter {
	animation: slideInUp 0.5s both ease-in; z-index: 8888;
	-webkit-animation: slideInUp 0.5s both ease-in; z-index: 8888;
}
.ng-leave {
	animation: slideOutLeft 0.5s both ease-in; z-index: 9999;
	-webkit-animation: slideOutLeft 0.5s both ease-in; z-index: 9999;
}