        <div id="initial" class="col-xs-12 col-sm-12 col-md-2">
            <h2 style="text-align: center">Description</h2>
            <p style="margin:10px" ng-model="desc">{{ desc.description }} </p>
            <div class="row col-xs-12 col-sm-12 col-md-12">
                <h2 style="text-align: center">Visitor Posts</h2>
                <div ng-repeat="f in feed">
                    <div style="margin:auto; text-align: center;"><img ng-src="{{ f.picture }}"></br>{{ f.from.name }}</div></p><p>{{ f.message }}</p>
                </div>
            </div>
        </div>
    <div id="albums" class="col-xs-12 col-sm-10 col-md-10">
    <h2 style="text-align: center">Photo Albums</h2>
        <div class="container">
            <div style="margin:auto; margin-bottom:10px" class="item cover" ng-repeat="album in albums | unique : 'name'">
                <p style="font-weight: bold" class="ng-binding">{{ album.location }}</p>
                <a href="#/thumbs">
                    <img style="width:100%" ng-click="callToAddImages(album.id,album.location)" ng-src="{{ album.cover_photo.src }}" style="height:auto" alt="{{ album.location }}">
                </a>
                <button class="btn btn-default btn-sm" id="{{album.id}}" ng-click="likeClick(album.id)">Like</button>
                <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="likesPage(album.likes, $index)" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
                    {{ album.likes.data.length }} Likes
                </button>

                <!-- code to render the comments box with comments -->
                <button ng-if="album.comments.comments.data" type="button" class="btn btn-default btn-sm" aria-label="Left Align" class="likeCount" ng-click="CommentsPage(album.comments.comments, $index, album.id)" data-toggle="modal" data-target="#myCommentModal">{{ album.comments.comments.count }} Comments</button>

                <!-- code to render the comments box without any comments -->
                <button ng-if="!album.comments.comments.data" type="button" class="btn btn-default btn-sm" aria-label="Left Align" class="likeCount" ng-click="CommentsPage(album.id)" data-toggle="modal" data-target="#myNoCommentModal">Comment</button>
            </div>
        </div>
    </div>

    <!-- No Comments Modal -->
    <div class="modal fade" id="myNoCommentModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comments</h4>
                </div>
                <div class="modal-body">
                    <p>No comments yet!</p>
                </div>
                <div class="modal-footer">
                <span style="font-weight:bold;margin-right:10px">Add Comment</span><input ng-enter="postComment(imgID)" ng-model="comment" type="text">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments Modal -->
    <div class="modal fade" id="myCommentModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comments</h4>
                </div>
                <div class="modal-body">
                    <p ng-repeat="comment in comments">{{ comment.from.name }} says: {{ comment.message }}</p>
                </div>
                <div class="modal-footer">
                <span style="font-weight:bold;margin-right:10px">Add Comment</span><input ng-enter="postComment(imgID)" ng-model="comment" type="text">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Likes Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">People who liked this</h4>
                </div>
                <div class="modal-body">
                    <p ng-repeat="like in likes"><img ng-src="{{ like.pic }}" alt="{{ like.name }}" width="30" height="30"> {{ like.name }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>By Kevin Kirby © 2016</h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
