	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=848571491910399";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
	<div id="content">
	<h2 style="text-align: center">Visiting {{ loc }}</h2>
		<div class="col-xs-12">
			<div id="thumbnails" class="row ui-widget-content">
				<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="photo in photos">
					<div class="thumbnail" style="height:410px">
					<p ng-if="photo.desc" style="font-weight:bold">{{ photo.desc }}</p>
					<p ng-if="!photo.desc" style="font-weight:bold"></br></p>
						<a href="{{ photo.large }}" data-lightbox="original" data-title="{{ photo.desc }}">
							<img style="height:320px" ng-src="{{ photo.thumb }}" alt="{{ photo.desc }}">
						</a>
						<div class="caption">
							<button class="btn btn-default btn-sm" id="{{photo.id}}" ng-click="likeClick(photo.id)">Like</button>
							<button type="button" class="btn btn-default btn-sm" aria-label="Left Align" class="likeCount" ng-click="likesPage(photo.likes, $index)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ photo.likeCount }} Likes</button>
							<!-- Code to insert if there are comments -->
							<div ng-if="photo.post.comments">
								<button type="button" class="btn btn-default btn-sm" aria-label="Left Align" class="likeCount" ng-click="CommentsPage(photo.post.comments, $index, photo.id)" data-toggle="modal" data-target="#myCommentModal">{{ photo.post.comments.count }} Comments</button>
							</div>
							<!-- Code to insert if thre are no commnets -->
							<div ng-if="!photo.post.comments">
								<button type="button" class="btn btn-default btn-sm" aria-label="Left Align" class="likeCount" ng-click="CommentsPage(photo.id)" data-toggle="modal" data-target="#myNoCommentModal">Comment</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- No Comment Modal -->
	<div class="modal fade" id="myNoCommentModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
	 				<button type="button" class="close" data-dismiss="modal">&times;</button>
	  				<h4 class="modal-title">Comments</h4>
				</div>
				<div class="modal-body">
  					<p>No comments yet!</p>
				</div>
				<div class="modal-footer">
			 	<span style="font-weight:bold;margin-right:10px">Add Comment</span><input ng-enter="postComment(imgID)" ng-model="comment" type="text">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Comment Modal -->
	<div class="modal fade" id="myCommentModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
	 				<button type="button" class="close" data-dismiss="modal">&times;</button>
	  				<h4 class="modal-title">Comments</h4>
				</div>
				<div class="modal-body">
  					<p ng-repeat="comment in comments">{{ comment.from.name }} says: {{ comment.message }}</p>
				</div>
				<div class="modal-footer">
			 	<span style="font-weight:bold;margin-right:10px">Add Comment</span><input ng-enter="postComment(imgID)" ng-model="comment" type="text">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Likes Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
	 				<button type="button" class="close" data-dismiss="modal">&times;</button>
	  				<h4 class="modal-title">People who liked this</h4>
				</div>
				<div class="modal-body">
  					<p ng-repeat="like in likes"><img ng-src="{{ like.pic }}" alt="{{ like.name}}" width="30" height="30"> {{ like.name }}</p>
				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>By Kevin Kirby © 2016</h5></div>
            <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
    </div>
</footer>